.ia_componentContextMenu {
    border-color: var(--border);
    background-color: var(--contextBackground);
    color: var(--label);
}

.ia_componentContextMenu__item:hover,
.ia_componentContextMenu__submenu--active {
    background-color: var(--callToActionHighlight);
}

.ia_componentContextMenu__icon {
    fill: var(--icon);
}
